nav.main {
   color: #fafafa;
   padding-top:30px;
}

.main ul {
    list-style-type: none;
    display:flex;
}

.main ul li{
    flex-grow: 1;
}

nav.main a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    transition: .2s;
}

nav.main a:hover {
    transform: translateX(20px);
}

nav.main a.active {
    border-bottom: 10px gray solid;
    transform: translateX(0);
}

nav.main li:nth-child(1) a.active {
    border-bottom-color: green;
}

nav.main li:nth-child(2) a.active {
    border-bottom-color: blue;
}

nav.main li:nth-child(3) a.active {
    border-bottom-color: orange;
}


.logo{
    display: block;
    margin: 25px auto ;
    text-align: center;
    width: 450px;
    height: 100px;
}

@media only screen and (max-width: 750px) {
    .logo{
      display: none;
    }
  }