* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fafafa;
  }
  
  html {
    font-family: 'open sans', sans-serif;
    background-color: #181A18;
    color: #fafafa;
    font-size: 20px;
  }
  
  :-webkit-any-link {
}

:-moz-any-link {
}

:any-link {
}
  

.app{
    width:  1100px;
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-width: 1100px) {
  .app{
    width: 100%;
    max-width: 100%  ;
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (max-width: 550px) {
  .app{
    font-size: 16px;
  }
}