a {
    text-decoration: none;
    cursor: pointer;
}

.recommended-wrapper {

    border: 2px solid plum;
    border-radius: 5%;
    width: 60%;
    margin: 50px auto;
    background-color: #facbbb;
}


.recommended_picture{
    width: 20%;
    height: 20%;
    margin-top: 5px;
}

.top {
    background-color: rgb(3, 31, 56);
}